vagrant/charge-manager/src/main/resources/wsdl/chargeservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://dac.com/chargeproxy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dac.com/chargeproxy" targetNamespace="http://dac.com/chargeproxy">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://dac.com/chargeproxy">

    <xs:element name="TestRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TestResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="TestRequest">
    <wsdl:part element="tns:TestRequest" name="TestRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestResponse">
    <wsdl:part element="tns:TestResponse" name="TestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ChargeProxyPort">
    <wsdl:operation name="Test">
      <wsdl:input message="tns:TestRequest" name="TestRequest">
    </wsdl:input>
      <wsdl:output message="tns:TestResponse" name="TestResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChargeProxyPortSoap11" type="tns:ChargeProxyPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Test">
      <soap:operation soapAction=""/>
      <wsdl:input name="TestRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChargeProxyPortService">
    <wsdl:port binding="tns:ChargeProxyPortSoap11" name="ChargeProxyPortSoap11">
      <soap:address location="http://192.168.56.10:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>