charge-manager/src/main/resources/asaas-event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://dac.com/chargemanager"
           xmlns="http://dac.com/chargemanager"
           elementFormDefault="qualified">

    <xs:element name="AsaasEventRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="event" type="xs:string"/>
                <xs:element name="payload" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AsaasEventResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>