charge-proxy/src/main/resources/wsdl/charge-manager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://dac.com/chargemanager" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dac.com/chargemanager" targetNamespace="http://dac.com/chargemanager">
  <wsdl:types>
    <xs:schema xmlns="http://dac.com/chargemanager" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://dac.com/chargemanager">

    <xs:element name="AsaasEventRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="event" type="xs:string"/>
                <xs:element name="payload" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AsaasEventResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="AsaasEventResponse">
    <wsdl:part element="tns:AsaasEventResponse" name="AsaasEventResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AsaasEventRequest">
    <wsdl:part element="tns:AsaasEventRequest" name="AsaasEventRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AsaasPort">
    <wsdl:operation name="AsaasEvent">
      <wsdl:input message="tns:AsaasEventRequest" name="AsaasEventRequest">
    </wsdl:input>
      <wsdl:output message="tns:AsaasEventResponse" name="AsaasEventResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AsaasPortSoap11" type="tns:AsaasPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AsaasEvent">
      <soap:operation soapAction=""/>
      <wsdl:input name="AsaasEventRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AsaasEventResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AsaasPortService">
    <wsdl:port binding="tns:AsaasPortSoap11" name="AsaasPortSoap11">
      <soap:address location="http://localhost:8081/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>